tei-body {
  font-family: "Junicode Two Beta";
  font-size: 12pt;
}

tei-head {
  display: block;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}

tei-p {
  display: block;
}

tei-persname {
  font-variant:small-caps;
}
