tei-body {
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
}

tei-head {
  display: block;
  font-weight: bold;
  font-size:x-large;
  text-align: center;
  padding-bottom: 5mm;
}

tei-p {
  display: block;
  padding-bottom: 3mm;
  text-align: justify;
}

tei-persname {
  font-variant:small-caps;
}


tei-abbr {
  display: none;
}

tei-expan {
  color:blue; 
}

tei-del {
  text-decoration: line-through red 1.5pt;
}


tei-add {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: green;
}

tei-quote {
  margin-top: 0.2cm;
  margin-bottom: 0.2cm;
  margin-left: 1cm;
  display: block;
  font-size: smaller;
  text-align: justify;
}