tei-body {
  font-family: "Junicode Two Beta";
  font-size: 12pt;
}

tei-head {
  display: block;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}

tei-p {
  display: block;
}

tei-persname {
  font-variant:small-caps;
}


tei-abbr {
  display: none;
}

tei-expan {
  color: green; 
}

tei-del {
  text-decoration: line-through red 1pt;
}


tei-add {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: green;
}

tei-quote {
  margin-top: 0.2cm;
  margin-bottom: 0.2cm;
  margin-left: 1cm;
  display: block;
  font-size: smaller;
}